body { background-color: #292a2d; color: #EEE; }
header { position: fixed; top: 0; left: 0; width: 100%; background-color: #1e1f21; color: #EEE; text-align: center; padding: 20px; }
main { padding-top: 80px; }
main > div { box-sizing: border-box; padding: 0 20px; width: 1280px; margin: auto; border-bottom: 1px solid #555; }